*{text-align:center  ;
  font-family:Microsoft JhengHei;
  font-weight:bold;
  }
body{
  background-repeat: no-repeat;
  background-image: url(https://source.unsplash.com/1080x920/?nature,water);
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  margin-top:80px;
}
header{
  font-size:30px;
color:#f4f6dc;
-webkit-text-stroke: 1px black;
}
#wrapper{
  
  display:grid;
 margin:0 auto; 
  grid-template-columns:5% 62% 28% 3%;
 grid-template-rows:minmax(250px,auto);
  
  
}

#quote{
font-size:22px;
   display:flex;
    align-items:center;
    justify-content:center;
 box-shadow:4px 4px 2px rgba(237,228,241,1) ;
  position:relative;
}
a{position:absolute;
  right:17px;
}
.moviequote{
 width:620px;
 margin:70px; 
}
.quote1{
background-color:rgba(153,194,208);
   
}
.quote2{
background-color:rgba(153,194,208,0.7);
}
i{color:white;

animation: example 4s infinite;}
@keyframes example {
    from {color: #FB6964;}
    to {color: #16a085;}
}
i:hover{font-size:50px;}
i:active{color:#FFCCCC;}


